<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p> 제목 : [[${board.brdTitle}]]</p>
<p> 내용 : [[${board.brdContent}]]</p>
<p> 작성자 : [[${board.userKey}]] </p>
<!--    <button type="button" th:onclick="location.href='/boardDelete'" >삭제</button>-->
<a th:href="@{/boardUpdate/{key} (key=${board.brdKey}) }">수정</a>
<a th:href="@{/boardDelete/{key} (key=${board.brdKey}) }">삭제</a>
<a href="/">목록으로</a>
<p>[[${error}]]</p>
</body>
</html>