<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table">
    <tr style="color: blue">
        <th class="col">제목</th>
        <th class="col">내용</th>
        <th class="col">작성자</th>
    </tr>
    <tr th:each="board : ${boardList}">
        <td>
            <a th:href="@{/boardSelect/{key} (key=${board.brdKey}) }" th:text="${board.brdTitle}">
            </a>
        </td>
        <td th:text="${board.brdContent}"></td>
        <td th:text="${board.userKey}"></td>
    </tr>
</table>
<button class="btn btn-primary" onclick="location.href='/boardPage'">등록</button>
<button class="btn btn-warning" onclick="location.href='/loginPage'">로그인</button>
<button class="btn btn-danger" onclick="location.href='/logout'">로그아웃</button>
</body>
</html>