<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tj.boardExample.mapper.BoardMapper">

    <insert id="insertBoard" parameterType="com.tj.boardExample.dto.BoardDto">
        INSERT INTO board (brd_title, brd_content, user_key)
        VALUES (#{brdTitle}, #{brdContent}, #{userKey})
    </insert>

    <select id="selectBoard" resultType="com.tj.boardExample.dto.BoardDto">
        SELECT *
        FROM board
        WHERE brd_key = #{brdKey}
    </select>

    <update id="updateBoard" parameterType="com.tj.boardExample.dto.BoardDto">
        UPDATE board
        SET brd_title = #{brdTitle}
        , brd_content = #{brdContent}
        , user_key = #{userKey}
        WHERE brd_key = #{brdKey}
    </update>

</mapper>