<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tj.boardExample.mapper.CommentMapper">

    <insert id="insertComment" parameterType="com.tj.boardExample.dto.CommentDto">
        INSERT INTO comment(cmt_content)
        VALUES (#{cmtContent})
    </insert>

    <delete id="deleteComment">
        DELETE FROM comment
        WHERE cmt_key = #{cmtKey}
    </delete>
</mapper>