<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tj.boardExample.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.tj.boardExample.dto.UserDto">
        INSERT INTO user (user_name, user_id, user_pw, admin_flag)
        VALUES (#{userName}, #{userId}, #{userPw}, 0)
    </insert>

    <select id="loginUser" resultType="com.tj.boardExample.dto.UserDto" parameterType="com.tj.boardExample.dto.LoginDto">
        SELECT user_key, user_name, user_id, user_pw
        FROM user
        WHERE user_id = #{userId}
    </select>

</mapper>